<h1>Invoices</h1>

<p id="notice"><%= notice %></p>


<form>
  <%= form_tag(invoices_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search By Invoicenum" %>
  <%= submit_tag "Search" , :name => nil %>
  <% end %>
</form>

<div class="all-invoices invoice-tab">
  <h3>All Invoices</h3>
  <table class="invoices">
    <thead>
      <tr>
        <th>Invoice #</th>
        <th>Customer</th>
        <th>Invoice Total</th>
        
        
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @invoice.each do |invoice| %>
        <tr>
          <td class="id"><%= link_to "#{invoice.invoicenum}", invoice %></td>
          <td class="customer-name"><%= link_to "#{invoice.customer.name}", invoice.customer %></td>
          <td class="invoice-total"><%= number_to_currency invoice.total, unit: "Rs." %></td>
          
          
          <td class="invoice-actions">
            <%= link_to 'View', invoice %>
            |
            <%= link_to 'Edit', edit_invoice_path(invoice) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<h3>Options</h3>
<ul>
  <li><%= link_to "Create Invoice", new_invoice_path %></li>
</ul>