
<p>Contact Information</p>
<h1>Name = <%= @customer.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email: </strong>
  <%= @customer.email %>
</p>


<h3>Invoices</h3>
<table class="invoices">
  <tr>
    <th>S.N</th>
    <th>Total</th>
    
  </tr>  
  <% @customer.invoices.each do |invoice| %>
  <tr>
    <td><%= link_to "#{invoice.id}", invoice %></td>
    <td><%= number_to_currency invoice.total, unit: "Rs." %></td>
    
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'View All Customers', customers_path %>
